@use "./custom_variables" as *;

@font-face {
  font-family: 'robotoregular';
  src: url('../assets/webfonts/roboto-regular-webfont.woff2') format('woff2'),
  url('../assets/webfonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

ion-content{
  font-family:robotoregular !important;
  font-size:1.1em;
}

h1 {
  font-size: 20px !important;
  font-weight: bold !important;
  cursor: pointer;
}

#background-content{
  background-color: $background-color;
}

.transparent-button {
  background-color: transparent;
  color: grey;
}

.custom-progress::-webkit-progress-bar {
  background-color: black;
  cursor: pointer;
}

.custom-progress::-webkit-progress-value {
  background-color: grey;
  cursor: pointer;
}